@model Opportunity
@{
    var account = (Account)ViewBag.Account;
    var accounts = (IEnumerable<Account>)ViewBag.Accounts;

}

@Html.Partial("Breadcrumb", account)

@using (Html.BeginForm())
{
    @Html.Partial("Form", Model, ViewData)

    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="@Url.Action("Opportunities", "Account", new { id = account.Id })" class="btn btn-default">Cancel</a>
    </div>
}
