@model OpportunityWriteViewModel

@Html.AntiForgeryToken()

@Html.ValidationSummary(true)

<div class="well">
    <div class="form-horizontal">

        @Html.EditorFor(m => m.Opportunity.AccountId, "Account")

        @Html.EditorFor(m => m.Opportunity.Name)

    </div>
</div>





