@model Opportunity
@{
    var account = (Account)ViewBag.Account;
    var accounts = (IEnumerable<Account>)ViewBag.Accounts;

}
<div class="well">
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        @Html.EditorFor(m => m.AccountId, "Account")

        @Html.EditorFor(m => m.Name)

    </div>
</div>





