@model Opportunity
<div class="well">
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        @Html.EditorFor(m => m.AccountId, "Account")

        @Html.EditorFor(m => m.Name)

    </div>
</div>





