@model Invoice

<ol class="breadcrumb">
    <li><a href="@Url.Action("ActiveAccounts", "Organization")">True Clarity</a></li>
    <li>@Html.ActionLink(Model.Account.Name, "Opportunities", "Account", new { id = Model.Account.Id }, null)</li>
    <li>@Html.ActionLink(Model.Opportunity.Name, "Invoices", "Opportunity", new { id = Model.Opportunity.Id }, null)</li>
</ol>
