<div class="btn-group">
    <a class="btn btn-default" href="@Url.Action("ActiveAccounts", "Organization")">Invoicing</a>
</div>
<div class="btn-group">
    <a class="btn btn-default" href="@Url.Action("SignIn", "Authentication")">Sign In</a>
</div>