@{
    ViewBag.Title = "Augustus";
}

<div class="jumbotron">
    <p>Welcome @User.Identity.Name.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accounts</h2>
    </div>
    <div class="col-md-4">
        <h2>Invoices</h2>
    </div>
    <div class="col-md-4">
        <h2>Work Done</h2>
    </div>
</div>