@model object
<div class="list-group-item">
    <div class="row">
        <div class="col-xs-6"><strong>@Html.DisplayNameFor(model => model)</strong></div>
        <div class="col-xs-6 text-right">@Model</div>
    </div>
</div>