@model Enum
@functions
{
    private string GetDisplayName()
    {
        foreach (SelectListItem item in EnumHelper.GetSelectList(ViewData.ModelMetadata, Model))
        {
            if (item.Selected) return item.Text;
        }

        return String.Empty;
    }
}
<div class="list-group-item">
    <div class="row">
        <div class="col-xs-6"><strong>@Html.DisplayNameFor(model => model)</strong></div>
        <div class="col-xs-6 text-right">@GetDisplayName()</div>
    </div>
</div>


