@model Guid
@{
    var accounts = (IEnumerable<Account>)ViewBag.Accounts;
}
<div class="form-group">

    @Html.LabelFor(model => model, "Account", new { @class = "control-label col-sm-3" })

    <div class="col-sm-5">
        @Html.DropDownListFor(
                    model => model,
                    new SelectList(accounts, "Id", "Name", Model),
                    new { @class = "form-control selectpicker" }
                )
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(model => model, null, new { @class = "help-block text-danger" })
    </div>
</div>
