@model Guid?

<div class="form-group">

    @Html.LabelFor(model => model, null, new { @class = "control-label col-sm-3" })

    <div class="col-sm-5">
        @Html.AccountDropDownListFor(model => model,  new { @class = "form-control selectpicker" })
    </div>

    <div class="col-sm-4">
        @Html.ValidationMessageFor(model => model, null, new { @class = "help-block text-danger" })
    </div>

</div>
