@model DateTime?

<div class="form-group">

    @Html.LabelFor(model => model, new { @class = "control-label col-sm-3" })

    <div class="col-sm-5">
        <div class="input-group">
            @Html.TextBoxFor(model => model, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        @Html.ValidationMessageFor(model => model, null, new { @class = "help-block text-danger" })
    </div>
</div>

