@model decimal?
<div class="form-group">

    @Html.LabelFor(model => model, new { @class = "control-label col-sm-3" })

    <div class="col-sm-5">
        @Html.TextBoxFor(model => model, "{0:n2}", new { @class = "form-control number" })
    </div>

    <div class="col-sm-4">
        @Html.ValidationMessageFor(model => model, null, new { @class = "help-block text-danger" })
    </div>
</div>
