@model Guid?
@{
    var opportunities = (IEnumerable<Opportunity>)ViewBag.Opportunities;
}

<div class="form-group">
    @Html.LabelFor(model => model, "Opportunity", new { @class = "control-label col-sm-3" })

    <div class="col-sm-5">
        @Html.DropDownListFor(
                        model => model,
                        new SelectList(opportunities, "Id", "Name", Model),
                        new { @class = "form-control selectpicker" }
                    )
    </div>
    <div class="col-sm-4">
        @Html.ValidationMessageFor(model => model, null, new { @class = "help-block text-danger" })
    </div>
</div>
