@model String

<div class="form-group @(Html.IsValidFor(model => model) ? "" : "has-error")">

    @Html.LabelFor(model => model, new { @class = "control-label col-sm-3" })

    <div class="col-sm-5">
        @Html.TextBoxFor(model => model, new { @class = "form-control" })
    </div>

    <p class="help-block col-sm-4">
        @Html.ValidationMessageFor(model => model, null, new { @class = "danger-text" })
    </p>

</div>
