@model IEnumerable<Augustus.CRM.Account>
@{
    ViewBag.Title = "Accounts";
}

@Html.ActionLink("New", "Create")
<ul>
    @foreach (var a in Model)
    {
        <li>@Html.ActionLink(a.Name, "Details", new { id = a.Id })</li>
    }
</ul>





