@model IEnumerable<Augustus.CRM.Account>
@{
    ViewBag.Title = "Accounts";
}



<div class="list-group">
    @foreach (var a in Model)
    {
        <a class="list-group-item"
           href="@Url.Action("Details", new { id = a.Id })">
            @a.Name


            @if (a.Created.GetValueOrDefault() > ViewBag.NewDate)
            {
                <span class="badge">New</span>
            }
        </a>
    }
</div>

<div class="btn-group">
    <a href="@Url.Action("Create")" class="btn">Add New ...</a>
</div>





